/* Reset básico de CSS */

/* Aplica un box-sizing uniforme a todos los elementos */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Elimina los márgenes predeterminados del body */
body {
    margin: 0;
}

/* Establece estilos de fuente predeterminados */
body {
    font-family: Arial, sans-serif;
}

/* Elimina la decoración de lista predeterminada */
ul, ol {
    list-style: none;
}

/* Elimina los estilos de enlace predeterminados */
a {
    text-decoration: none;
    color: inherit; /* Hereda el color del texto del elemento padre */
}

/* Establece el tamaño de fuente base y el color para el cuerpo */
body {
    font-size: 16px;
    color: #333; /* Color de texto predeterminado */
}

/* Otras reglas de reseteo podrían incluir el restablecimiento de márgenes y rellenos en varios elementos, como encabezados, párrafos, etc. según sea necesario en tu proyecto */

