/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background: url('./assets/fondo.jpeg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
    color: #fff;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Oscurece el fondo */
    z-index: -1;
}

/* Estilos del contenedor general */
.contenedor-general {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye los contenedores de forma uniforme */
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto; /* Centra el contenedor general en la página */
    max-width: 1200px; /* Establece un ancho máximo para el contenedor general */
}


/* Estilos de los contenedores */
.contenedores {
    background: rgba(255, 255, 255, 0.207);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px; /* Espacio entre los contenedores */
    flex: 1 1 calc(33.333% - 20px); /* Por defecto, muestra tres contenedores por fila */
    box-sizing: border-box;
    max-width: calc(33.333% - 20px); /* Máximo ancho para tres contenedores por fila */
}

.contenedores img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

img {
    border-radius: 50%;
}

.contenedores h1 {
    margin: 0;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Leve sombra */
}

/* Nuevo estilo para alinear imagen y título */
.header-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Estilos de las listas */
ol {
    padding-left: 0;
    list-style: none; /* Quita los números de las listas ordenadas */
}

li {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    margin-bottom: 15px; /* Agrega separación entre elementos */
}

li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 50%;
    background: #fff;
    transition: background-color 0.3s, border-color 0.3s;
}

li.checked::before {
    background: green;
    border-color: green;
}

li.checked::after {
    content: '✔';
    position: absolute;
    left: 8px;
    top: 4px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

/* Media queries para ajustar el diseño en diferentes tamaños de pantalla */
@media (max-width: 1024px) {
    .contenedores {
        flex: 1 1 calc(50% - 20px); /* En tablet, muestra dos contenedores por fila */
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .contenedores {
        flex: 1 1 calc(50% - 20px); /* En pantallas más pequeñas, muestra dos contenedores por fila */
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .contenedores {
        flex: 1 1 100%; /* En dispositivos móviles, muestra un contenedor por fila */
        max-width: 100%;
    }
}